<section>
  <p>{{localize "DUELYSTSPRITES.CONTEXT.CONFIRM.MESSAGE" name=actor.name}}</p>
  <div class="form-group">
    <label for="{{idPrefix}}-name">{{localize "Name"}}</label>
    <input type="checkbox" name="name" id="{{idPrefix}}-name" />
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-img">{{localize
        "DUELYSTSPRITES.CONTEXT.CONFIRM.PORTRAIT"
      }}</label>
    <input type="checkbox" name="img" id="{{idPrefix}}-img" checked />
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-tokenImage">{{localize
        "DUELYSTSPRITES.CONTEXT.CONFIRM.TOKENIMAGE"
      }}</label>
    <input
      type="checkbox"
      name="tokenImage"
      id="{{idPrefix}}-tokenImage"
      checked
    />
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-theatreInsert">{{localize
        "DUELYSTSPRITES.CONTEXT.CONFIRM.THEATREINSERT"
      }}</label>
    <input
      type="checkbox"
      name="theatreInsert"
      id="{{idPrefix}}-theatreInsert"
      checked
    />
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-spriteAnimations">{{localize
        "DUELYSTSPRITES.CONTEXT.CONFIRM.ANIMATIONS"
      }}</label>
    <input
      type="checkbox"
      name="spriteAnimations"
      id="{{idPrefix}}-spriteAnimations"
      checked
    />
  </div>
</section>